# frozen_string_literal: true

Sequel.migration do
  change do
    create_table(:<%= resource[:plural_snake] %>) do
      primary_key :id
<% fields.each do |field| -%>
      <%= field[:ruby_type] %> :<%= field[:name] %>
<% end -%>
      DateTime :created_at, null: false
      DateTime :updated_at, null: false
    end
  end
end